<div class="col-xs-8 col-xs-offset-2">
  <form (ngSubmit)="submitForm(form)" #form="ngForm">
    <div ngModelGroup="user" #user="ngModelGroup">
      <div
        class="form-group"
        [ngClass]="{ 'has-error': email.invalid && email.touched }"
      >
        <label>email</label>
        <input
          type="text"
          class="form-control"
          ngModel
          name="email"
          required
          email
          #email="ngModel"
        />
        <p *ngIf="email.invalid && email.touched">invalid email</p>
      </div>
      <button class="btn btn-primary" type="button" (click)="addRandEmail()">
        add random email
      </button>
      <div
        class="form-group"
        [ngClass]="{ 'has-error': pass.valid && pass.touched }"
      >
        <label>password</label>
        <input
          type="password"
          class="form-control"
          ngModel
          name="pass"
          required
          #pass="ngModel"
        />
      </div>
      <p *ngIf="pass.invalid && pass.touched">invalid pass</p>
    </div>

    <p *ngIf="user.invalid && user.touched">User data is incorrect</p>

    <div class="form-group">
      <label>select the country</label>
      <select
        class="form-control"
        [ngModel]="defaultCountry"
        name="country"
        required
      >
        <option value="ua">Ukraine</option>
        <option value="de">Germany</option>
        <option value="fr">France</option>
      </select>
    </div>
    <div class="radio" *ngFor="let ans of answers">
      <label>
        <input
          type="radio"
          [value]="ans.type"
          name="answer"
          [ngModel]="defaultAnswer"
          required
        />{{ ans.text }}
      </label>
    </div>
    <button class="btn btn-success" type="submit" [disabled]="!form.valid">
      Save
    </button>
  </form>

  <div *ngIf="isSubmited">
    <pre>
 {{ formData | json }}
    </pre>
  </div>
</div>
