<div class="col-xs-8 col-xs-offset-2">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>email</label>
      <input type="text" class="form-control" formControlName="email" />
      <div class="form-group">
        <label>password</label>
        <input type="password" class="form-control" formControlName="pass" />
      </div>
    </div>

    <div class="form-group">
      <label>select the country</label>
      <select class="form-control" name="country" formControlName="country">
        <option value="ua">Ukraine</option>
        <option value="de">Germany</option>
        <option value="fr">France</option>
      </select>
    </div>
    <div class="radio" *ngFor="let ans of answers">
      <label>
        <input
          type="radio"
          [value]="ans.type"
          name="answer"
          formControlName="answer"
        />{{ ans.text }}
      </label>
    </div>
    <button class="btn btn-success" type="submit">
      Save
    </button>
  </form>
</div>
