<div class="col-xs-8 col-xs-offset-2">
  <hr />
  <input type="text" class="form-control" [(ngModel)]="carName" />
  <button class="btn btn-primary" (click)="loadCars()">
    Download the cars
  </button>
  <button class="btn btn-success" (click)="addCar()">Add the car</button>
  <hr />
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let car of cars">
      <span class="badge" [ngStyle]="{ background: car.color }">
        {{ car.id }}
      </span>
      {{ car.carName }}
      <button class="btn btn-xs btn-info" (click)="setNewColor(car)">
        Change color
      </button>
    </li>
  </ul>
</div>
